{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    {% if title %} 
    <title>{{title}}</title>
    {% endif %} 

    {% block styles %} 
      {% bootstrap_css %} 
    {% endblock %} 
  </head>
  <body>

    {% include 'navbar.html' %}

    {% block content %} 
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="margin-left: 280px;">
          <div class="card my-2">
            <img src="{{image.photo.url}}" class="img-thumbnail" alt="">
          </div>
          <div class="card-body bg-light">
            <h4 class="text-left text-dark">{{object.name}}</h4>
            <p class="text-left text-dark">{{object.caption}}</p>
            <p class="text-left text-dark">{{object.posted_on}}</p>
          </div>
        </div>
      </div>
    </div>


    {% endblock %}


    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      {% bootstrap_javascript %}
    {% endblock %}
  </body>
</html>